<h1>Bonjour <%= current_user.email %>, </h1>
<p>Voulez-vous commencer une nouvelle partie ?</p>

<div class="container">
  <div class="form-actions">
    <%= link_to 'Nouvelle partie', games_path, method: :post, class: 'btn btn-primary stretched-link'  %>
  </div>
</div>
